In [90]:
import pandas as pd

In [91]:
df = pd.read_csv('../scraped_olx_data.csv')

In [92]:
df.head()

,Title,Location,Price,Link,Image,Info
0,kp properties 2bhk for rent in ramesh nagar i...,"Ramesh Nagar, Delhi","₹ 22,000",https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/2o8yn31cjw8...,2 BHK - 2 Bathroom - 1000 sqft
1,kp properties 2bhk for rent in prime location,"Ramesh Nagar, Delhi","₹ 22,000",https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/9pqxxazodr6...,2 BHK - 2 Bathroom - 1000 sqft
2,kp properties 2bhk for rent in ramesh nagar,"Ramesh Nagar, Delhi","₹ 40,000",https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/6dgn7seprsi...,2 BHK - 2 Bathroom - 1000 sqft
3,kp properties 2bhk for rent in bali nagar,"Bali Nagar, Delhi","₹ 29,999",https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/f84seirygkl...,2 BHK - 1 Bathroom - 1000 sqft
4,2bhk for rent in ramesh nagar,"Ramesh Nagar, Delhi","₹ 24,000",https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/zvu052dzf0a...,2 BHK - 2 Bathroom - 1000 sqft

In [93]:
df.tail()

,Title,Location,Price,Link,Image,Info
7955,II DHRUV GOHRI II 2BHK FURNISHED 3RD FLOOR UNF...,"Ramesh Nagar, Delhi","₹ 45,000",https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/cq55oimymjq...,2 BHK - 2 Bathroom - 900 sqft
7956,II DHRUV GOHRI II 2BHK FLAT AVAILABLE LIFT & P...,"Ramesh Nagar, Delhi","₹ 35,000",https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/l8j9eh1ggbw...,2 BHK - 2 Bathroom - 900 sqft
7957,2bhk for rent in ramesh nagar in prime location,"Ramesh Nagar, Delhi","₹ 30,000",https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/v3lzo2x1vvo...,2 BHK - 2 Bathroom - 1000 sqft
7958,kp properties 2bhk for rent in rajouri garden...,"Rajouri Garden, Delhi","₹ 30,000",https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/lhw6mjbiky0...,2 BHK - 2 Bathroom - 1000 sqft
7959,kp properties 2bhk for rent in ramesh nagar i...,"Tagore Garden, Delhi","₹ 33,000",https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/il232pov67u...,2 BHK - 2 Bathroom - 1000 sqft

In [94]:
def clean_price(data):
    data =  data.replace('₹','').replace(',','')
    return int(data)

df['Price'] = df['Price'].apply(clean_price)

In [95]:
df.tail()

,Title,Location,Price,Link,Image,Info
7955,II DHRUV GOHRI II 2BHK FURNISHED 3RD FLOOR UNF...,"Ramesh Nagar, Delhi",45000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/cq55oimymjq...,2 BHK - 2 Bathroom - 900 sqft
7956,II DHRUV GOHRI II 2BHK FLAT AVAILABLE LIFT & P...,"Ramesh Nagar, Delhi",35000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/l8j9eh1ggbw...,2 BHK - 2 Bathroom - 900 sqft
7957,2bhk for rent in ramesh nagar in prime location,"Ramesh Nagar, Delhi",30000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/v3lzo2x1vvo...,2 BHK - 2 Bathroom - 1000 sqft
7958,kp properties 2bhk for rent in rajouri garden...,"Rajouri Garden, Delhi",30000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/lhw6mjbiky0...,2 BHK - 2 Bathroom - 1000 sqft
7959,kp properties 2bhk for rent in ramesh nagar i...,"Tagore Garden, Delhi",33000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/il232pov67u...,2 BHK - 2 Bathroom - 1000 sqft

In [96]:
df.duplicated().sum()

np.int64(6015)

In [97]:
df.drop_duplicates(inplace = True)

In [98]:
df.shape

(1945, 6)

In [99]:
df['Info'].value_counts()

Info
2 BHK - 2 Bathroom - 900 sqft     91
1 BHK - 1 Bathroom - 450 sqft     88
2 BHK - 2 Bathroom - 1000 sqft    76
1 BHK - 1 Bathroom - 500 sqft     70
2 BHK - 2 Bathroom - 650 sqft     67
                                  ..
1 BHK - 1 Bathroom - 00 sqft       1
3 BHK - 2 Bathroom - 1170 sqft     1
3 BHK - 1 Bathroom - 850 sqft      1
2 BHK - 1 Bathroom - 445 sqft      1
2 BHK - 2 Bathroom - 757 sqft      1
Name: count, Length: 419, dtype: int64

In [100]:
import re

def parse_listing(info):
    if pd.isna(info):
        return pd.Series([None, None, None])

    bhk = None
    bath = None
    area = None

    parts = info.split(' - ')
    for part in parts:
        part = part.strip().lower()

        # Extract BHK
        if 'bhk' in part:
            match = re.search(r'(\d+)\s*bhk', part)
            if match:
                bhk = int(match.group(1))

        # Extract Bathroom
        elif 'bathroom' in part:
            match = re.search(r'(\d+)\s*bathroom', part)
            if match:
                bath = int(match.group(1))

        # Extract Area
        elif 'sqft' in part or 'ft' in part:
            match = re.search(r'(\d+(\.\d+)?)\s*(sqft|ft)', part)
            if match:
                raw_area = float(match.group(1))
                unit = match.group(3)
                area = raw_area if unit == 'sqft' else raw_area * raw_area  # Convert ft² to m² if needed
                area = round(area, 2)

    return pd.Series([bhk, bath, area])

df[['BHK', 'Bathroom', 'Area']] = df['Info'].apply(parse_listing)

In [101]:
df.tail()

,Title,Location,Price,Link,Image,Info,BHK,Bathroom,Area
1955,kp properties 2bhk for rent in ramesh nagar i...,"Tagore Garden, Delhi",33000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/il232pov67u...,2 BHK - 2 Bathroom - 1000 sqft,2.0,2.0,1000.0
1956,kp properties 3bhk for rent,"Ramesh Nagar, Delhi",50000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/6dztiw3tdee...,3 BHK - 3 Bathroom - 1500 sqft,3.0,3.0,1500.0
1957,II DHRUV GOHRI II 2BHK FURNISHED 40K UPP. 3RD ...,"Ramesh Nagar, Delhi",40000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/5x39bdgqxky...,2 BHK - 2 Bathroom - 900 sqft,2.0,2.0,900.0
1958,2bhk for rent in ramesh nagar in park facing,"Ramesh Nagar, Delhi",35000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/lmc4hb6ula6...,2 BHK - 2 Bathroom - 1000 sqft,2.0,2.0,1000.0
1959,kp properties 3bhk for rent in ramesh nagar i...,"Ramesh Nagar, Delhi",45999,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/ojceavb84bt...,3 BHK - 3 Bathroom - 1500 sqft,3.0,3.0,1500.0

In [102]:
def get_area(data):
    data = data.split(',')
    return data[0]

df['Locality'] = df['Location'].apply(get_area)

In [103]:
df.head()

,Title,Location,Price,Link,Image,Info,BHK,Bathroom,Area,Locality
0,kp properties 2bhk for rent in ramesh nagar i...,"Ramesh Nagar, Delhi",22000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/2o8yn31cjw8...,2 BHK - 2 Bathroom - 1000 sqft,2.0,2.0,1000.0,Ramesh Nagar
1,kp properties 2bhk for rent in prime location,"Ramesh Nagar, Delhi",22000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/9pqxxazodr6...,2 BHK - 2 Bathroom - 1000 sqft,2.0,2.0,1000.0,Ramesh Nagar
2,kp properties 2bhk for rent in ramesh nagar,"Ramesh Nagar, Delhi",40000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/6dgn7seprsi...,2 BHK - 2 Bathroom - 1000 sqft,2.0,2.0,1000.0,Ramesh Nagar
3,kp properties 2bhk for rent in bali nagar,"Bali Nagar, Delhi",29999,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/f84seirygkl...,2 BHK - 1 Bathroom - 1000 sqft,2.0,1.0,1000.0,Bali Nagar
4,2bhk for rent in ramesh nagar,"Ramesh Nagar, Delhi",24000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/zvu052dzf0a...,2 BHK - 2 Bathroom - 1000 sqft,2.0,2.0,1000.0,Ramesh Nagar

In [104]:
df2 = pd.read_csv('../data/cleaned_data.csv',index_col=0)

In [106]:
df2.tail()

,Title,Location,Price,Link,Image,Info,BHK,Bathroom,Area,Locality
1956,1 bhk for rent with right rooftop one wash room,"Rohini Sector 7, Delhi",12000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/n2wyj8by5hu...,1 BHK - 1 Bathroom - 400 sqft,1.0,1.0,400.0,Rohini Sector 7
1957,2bhk for rent in ramesh nagar in prime location,"Ramesh Nagar, Delhi",26000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/52gx1o2zq5z...,2 BHK - 2 Bathroom - 1000 sqft,2.0,2.0,1000.0,Ramesh Nagar
1958,|| kp properties || 3bhk for rent in ramesh na...,"Ramesh Nagar, Delhi",35000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/foncuuvx2dy...,3 BHK - 3 Bathroom - 1700 sqft,3.0,3.0,1700.0,Ramesh Nagar
1059,|| kp properties || 2bhk for rent in ramesh na...,"Ramesh Nagar, Delhi",26500,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/96im1701z12...,2 BHK - 2 Bathroom - 1000 sqft,2.0,2.0,1000.0,Ramesh Nagar
1060,kp properties 2bhk for rent in ramesh nagar i...,"Ramesh Nagar, Delhi",22000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/2o8yn31cjw8...,2 BHK - 2 Bathroom - 1000 sqft,2.0,2.0,1000.0,Ramesh Nagar

In [107]:
print(df2.shape)
print(df.shape)

(1946, 10)
(1945, 10)

In [108]:
merged_df = pd.concat([df, df2], ignore_index=True)

In [109]:
merged_df

,Title,Location,Price,Link,Image,Info,BHK,Bathroom,Area,Locality
0,kp properties 2bhk for rent in ramesh nagar i...,"Ramesh Nagar, Delhi",22000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/2o8yn31cjw8...,2 BHK - 2 Bathroom - 1000 sqft,2.0,2.0,1000.0,Ramesh Nagar
1,kp properties 2bhk for rent in prime location,"Ramesh Nagar, Delhi",22000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/9pqxxazodr6...,2 BHK - 2 Bathroom - 1000 sqft,2.0,2.0,1000.0,Ramesh Nagar
2,kp properties 2bhk for rent in ramesh nagar,"Ramesh Nagar, Delhi",40000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/6dgn7seprsi...,2 BHK - 2 Bathroom - 1000 sqft,2.0,2.0,1000.0,Ramesh Nagar
3,kp properties 2bhk for rent in bali nagar,"Bali Nagar, Delhi",29999,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/f84seirygkl...,2 BHK - 1 Bathroom - 1000 sqft,2.0,1.0,1000.0,Bali Nagar
4,2bhk for rent in ramesh nagar,"Ramesh Nagar, Delhi",24000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/zvu052dzf0a...,2 BHK - 2 Bathroom - 1000 sqft,2.0,2.0,1000.0,Ramesh Nagar
...,...,...,...,...,...,...,...,...,...,...
3886,1 bhk for rent with right rooftop one wash room,"Rohini Sector 7, Delhi",12000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/n2wyj8by5hu...,1 BHK - 1 Bathroom - 400 sqft,1.0,1.0,400.0,Rohini Sector 7
3887,2bhk for rent in ramesh nagar in prime location,"Ramesh Nagar, Delhi",26000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/52gx1o2zq5z...,2 BHK - 2 Bathroom - 1000 sqft,2.0,2.0,1000.0,Ramesh Nagar
3888,|| kp properties || 3bhk for rent in ramesh na...,"Ramesh Nagar, Delhi",35000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/foncuuvx2dy...,3 BHK - 3 Bathroom - 1700 sqft,3.0,3.0,1700.0,Ramesh Nagar
3889,|| kp properties || 2bhk for rent in ramesh na...,"Ramesh Nagar, Delhi",26500,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/96im1701z12...,2 BHK - 2 Bathroom - 1000 sqft,2.0,2.0,1000.0,Ramesh Nagar
3890,kp properties 2bhk for rent in ramesh nagar i...,"Ramesh Nagar, Delhi",22000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/2o8yn31cjw8...,2 BHK - 2 Bathroom - 1000 sqft,2.0,2.0,1000.0,Ramesh Nagar

In [111]:
merged_df.to_csv('../data/cleaned_data.csv')

In [114]:
df = pd.read_csv('../data/cleaned_data.csv',index_col=0)

In [115]:
df

,Title,Location,Price,Link,Image,Info,BHK,Bathroom,Area,Locality
0,kp properties 2bhk for rent in ramesh nagar i...,"Ramesh Nagar, Delhi",22000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/2o8yn31cjw8...,2 BHK - 2 Bathroom - 1000 sqft,2.0,2.0,1000.0,Ramesh Nagar
1,kp properties 2bhk for rent in prime location,"Ramesh Nagar, Delhi",22000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/9pqxxazodr6...,2 BHK - 2 Bathroom - 1000 sqft,2.0,2.0,1000.0,Ramesh Nagar
2,kp properties 2bhk for rent in ramesh nagar,"Ramesh Nagar, Delhi",40000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/6dgn7seprsi...,2 BHK - 2 Bathroom - 1000 sqft,2.0,2.0,1000.0,Ramesh Nagar
3,kp properties 2bhk for rent in bali nagar,"Bali Nagar, Delhi",29999,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/f84seirygkl...,2 BHK - 1 Bathroom - 1000 sqft,2.0,1.0,1000.0,Bali Nagar
4,2bhk for rent in ramesh nagar,"Ramesh Nagar, Delhi",24000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/zvu052dzf0a...,2 BHK - 2 Bathroom - 1000 sqft,2.0,2.0,1000.0,Ramesh Nagar
...,...,...,...,...,...,...,...,...,...,...
3886,1 bhk for rent with right rooftop one wash room,"Rohini Sector 7, Delhi",12000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/n2wyj8by5hu...,1 BHK - 1 Bathroom - 400 sqft,1.0,1.0,400.0,Rohini Sector 7
3887,2bhk for rent in ramesh nagar in prime location,"Ramesh Nagar, Delhi",26000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/52gx1o2zq5z...,2 BHK - 2 Bathroom - 1000 sqft,2.0,2.0,1000.0,Ramesh Nagar
3888,|| kp properties || 3bhk for rent in ramesh na...,"Ramesh Nagar, Delhi",35000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/foncuuvx2dy...,3 BHK - 3 Bathroom - 1700 sqft,3.0,3.0,1700.0,Ramesh Nagar
3889,|| kp properties || 2bhk for rent in ramesh na...,"Ramesh Nagar, Delhi",26500,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/96im1701z12...,2 BHK - 2 Bathroom - 1000 sqft,2.0,2.0,1000.0,Ramesh Nagar
3890,kp properties 2bhk for rent in ramesh nagar i...,"Ramesh Nagar, Delhi",22000,https://www.olx.in/item/for-rent-houses-apartm...,https://apollo.olx.in:443/v1/files/2o8yn31cjw8...,2 BHK - 2 Bathroom - 1000 sqft,2.0,2.0,1000.0,Ramesh Nagar

In [116]:
df.duplicated().sum()

np.int64(1267)

In [117]:
df.drop_duplicates(inplace = True)

In [118]:
df.shape

(2624, 10)

In [23]:
df.to_csv('../data/cleaned_data.csv')